/* You can add global styles to this file, and also import other style files */
form-em-form{
    background-color: #ddbbdd;
    border-radius: 4px;
    padding: 10px;
}
div.validation-error{
    color: red;
    text-align: center;    
}
button:hovver,a,btn:hover{
    cursor: pointer;
}